@import '~iview/src/styles/index.less';

// Color
@primary-color: #05A9F3;
@light-primary-color: #37baf5;
@dark-primary-color: #05a1e7;
@info-color: #05A9F3;
@success-color: #62ddbc;
@warning-color: #d39f46;
@error-color: #d84823;
@link-color: #05A9F3 ;
@link-hover-color: tint(@link-color, 20%);
@link-active-color: shade(@link-color, 5%);
@selected-color: fade(@primary-color, 90%);
@input-disabled-bg: #f3f3f3;

// Base
@body-background        : #fff;
@font-family            : "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
@code-family            : Consolas,Menlo,Courier,monospace;
@title-color            : #1c2438;
@text-color             : #515a6e;
@font-size-base         : 14px;
@font-size-small        : 12px;
@font-size-large        : 16px;
@line-height-base       : 1.5;
@line-height-computed   : floor((@font-size-base * @line-height-base));
@border-radius-base     : 6px;
@border-radius-small    : 4px;
@cursor-disabled        : not-allowed;

// Background color
@background-color-base: #f7f7f7; // base
@background-color-select-hover: @input-disabled-bg;
@tooltip-bg: rgba(70, 76, 91, .9);
@head-bg: #f9fafc;
@table-thead-bg: #f8f8f9;
@table-td-stripe-bg: #f8f8f9;
@table-td-hover-bg: #ebf7ff;
@table-td-highlight-bg: #ebf7ff;
@menu-dark-title: #495060;
@menu-dark-active-bg: #363e4f;
@menu-dark-subsidiary-color: rgba(255, 255, 255, .7);
@menu-dark-group-title-color: rgba(255, 255, 255, .36);
@date-picker-cell-hover-bg: #e1f0fe;

// empi
@header-height: 50px;
@nav-second-height: 45px;
@nav-bg-color: #343F52;
@open-nav-bg-color: #202B32;
@menu-font-color: #b8c7ce;
@breadcrumb-bg-color: #CFE5FC;